[Unit]
Description=Street No1 Collector
After=network.target

[Service]
User=dietpi
WorkingDirectory=/home/dietpi/street-photograph
ExecStart=/home/dietpi/street-photograph/venv/bin/gunicorn -w 2 -b 127.0.0.1:5000 app:app
Restart=on-failure
EnvironmentFile=/home/dietpi/street-photograph/.env

[Install]
WantedBy=multi-user.target
